{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock link %}

{% block style %}
<style>
    .navigator {
        margin: 20px 0px;
        width: 35%;
    }
</style>
{% endblock style %}


{% block body %}
<div class="AboutLogin">
    {% if session["logged_in"] %}
    <br><br><br><br>
    <a href="/personel"><button class="login-button navigator">Personel</button></a><br>
    <a href="/park_alani"><button class="login-button navigator">Park Katları</button></a><br>
    <a href="/musteriler"><button class="login-button navigator">Müşterilerim</button></a><br>
    <a href="/ucret"><button class="login-button navigator">Ücret Tarifem</button></a><br>

    {% else %}

    <br><br><br>
    <h1>Otopark Otomasyon Sistemi</h1><br><br><br>
    <a href="/login"><button class="login-button">Giriş yap</button></a>
    <a href="/register"><button class="login-button">Kayıt Ol</button></a>
    {% endif %}
</div>
{% endblock body %}