{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock link %}

{% block style %}
    <style>
        .navigator{
            margin: 20px 0px;
            width: 35%;
        }
    </style>
{% endblock style %}

{% block body %}
    <div class="AboutLogin">
        <br><br><br><br>
        <a href="/personellerim"><button class="login-button navigator">Personellerim</button></a><br>
        <a href="/personel_ekle"><button class="login-button navigator">Personel Ekle</button></a><br>
        <a href="/personel_cikar"><button class="login-button navigator">Personel Çıkart</button></a><br>
        <a href="/"><button class = "login-button navigator">Geri Dön</button></a><br>

    </div>
{% endblock body %}